@import "@/styles/variables.scss";
.header {
  :global {
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
        .wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    background-color: $main-bg-color;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    .logo {
      width: 80px;
      height: 80px;
    }

    .burger-icon {
      font-size: 30px;
      cursor: pointer;
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          font-size: 1.5rem;
          position: relative;
          &:hover {
            background: none;
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
          }
          &:hover i {
            color: red;
          }
          .count {
            position: absolute;
            top: -5px;
            right: -10px;
            background-color: $highlight-color;
            width: fit-content;
            height: fit-content;
            padding: 8px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            color: $light-color;
          }
        }
      }

      li {
        a {
          padding: 10px;
          font-size: 1rem;
          margin: 0 auto;
          transition: $transition;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -ms-transition: $transition;
          -o-transition: $transition;
          text-decoration: none;
          color: $link-color;
          border-bottom: 2px solid transparent;
          transition: border-bottom 0.3s ease;
          font-size: 17px;
          margin-inline-end: 1.5rem;
          &:hover,
          &.active {
            background-color: $highlight-color;
            border-radius: 5px;
            color: $light-color;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }
      }
    }
    @media (max-width: 768px) {
      .overlay {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;

        opacity: 0;
        visibility: hidden;
        transition: all 0.3 ease-out;
        &[dir="rtl"] {
          right: -100%;
        }
        &.active {
          opacity: 1;
          visibility: visible;
          left: 0;
        }
        &[dir="rtl"].active {
          opacity: 1;
          visibility: visible;
          right: 0;
        }
      }
      .links {
        position: absolute;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color: $main-bg-color;
        width: 250px;
        height: 100vh;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1.5rem;
        z-index: 999;
        font-size: 1.5rem;
        transition: all 0.3s ease;

        li {
          margin-bottom: 1.8rem;
          a {
            color: black;
          }
        }

        .logo {
          text-align: center;
          margin: 0 auto;
          margin-bottom: 2rem;
          img {
            width: 80px;
            height: 80px;
          }
        }

        &.active {
          left: 0;
        }
        &[dir="rtl"].active {
          right: 0;
        }
        &[dir="rtl"] {
          right: -100%;
        }
      }

      .burger-icon {
        display: block;
        color: black;
      }
    }
    .languages {
      .ic-arrow {
        .img {
          width: 100%;
          height: 100%;
        }
      }
      span {
        font-size: 12px;
        margin-top: 4px;
      }
      .ic-earth {
        .img {
          width: 100%;
          height: 100%;
        }
      }
      .btn-link {
        display: flex;
        border: none;
        text-decoration: none;
        color: black;
        align-items: center;
        background-color: transparent;
      }
      .languages-list {
        min-width: 80px;
        z-index: 999;
        .active {
          background-color: $highlight-color;
        }
        li {
          .dropdown-item:focus {
            background-color: $highlight-color;
          }
        }
      }
    }
    @media (min-width: 769px) {
      .links {
        display: flex;
        flex-direction: row;

        .logo {
          display: none;
        }
      }

      .wrapper {
        display: none;
      }
    }
  }
}
