@import "@/styles/variables.scss";

.breadCrumb {
  :global {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
    margin-bottom: 20px;
    .breadCrumb-link {
      color: $main-text-color;
    }
    a,
    span {
      font-size: 18px;
      margin-inline-end: 15px;
    }
    span {
      font-family: "font-bold";
    }
  }
}
