@import "@/styles/variables.scss";

.breadCrumb {
  :global {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px 0;
    margin-bottom: 20px;
    a,
    span {
      color: black;
      font-size: 18px;
      margin-inline-end: 15px;
    }

    a {
      font-weight: 700;
    }
    span {
      font-family: "font-bold";
      color: $main-text-color;
    }
  }
}
