@import "@/styles/variables.scss";

.otp_wrapper {
  :global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #565656;
    height: 60vh;
    background-color: #ffffff;
    [data-theme="dark"] & {
      background-color: #17191a;
      color: #ffffff;
    }

    .row {
      row-gap: 30px;
      justify-content: center;
    }
    .title {
      margin-top: 100px;
      h5 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
      }
      span {
        color: #444444;
        [data-theme="dark"] & {
          color: #d8d8d8;
        }
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        @media (max-width: 768px) {
          max-width: unset;
        }
      }
    }
    .subtitle {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      span {
        margin-inline-start: 10px;
        text-transform: lowercase;
      }
      @media (max-width: 768px) {
        & {
          text-align: center !important;
          span {
            text-align: center !important;
            margin-inline-start: unset;
          }
          justify-content: center;
        }
      }
    }
    label {
      font-weight: 600;
      font-size: 14px;
      color: #565656;
      [data-theme="dark"] & {
        color: #ffffff;
      }
    }

    .inputs {
      display: flex;
      justify-content: space-evenly;
      // flex-wrap: wrap;
      .input {
        border: 1px solid $main-text-color;
        border-radius: 56px;
        padding-top: 15px;
        margin: auto;
        padding-bottom: 15px;
        box-shadow: none;
        width: 56px;
        height: 56px;
        background-color: #ffffff;
        color: #212529;
        [data-theme="dark"] & {
          color: #ffffff;
          background-color: #ffffff0d;
          border-color: #ffffff0d;
        }
        &.filled {
          border: 1px solid $main-text-color;
        }
        @media (max-width: 768px) {
          & {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    .send-otp {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        margin-inline-start: 10px;
        color: $main-text-color;
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        border: none;
        outline: none;
        background-color: transparent;
      }
    }

    .saveBtn {
      padding: 12px 40px;
      background-color: $main-text-color;
      color: #fff;
      border-radius: 56px;
      font-size: 16px;
      border: 1px solid $main-text-color;
      width: 100%;
      display: block;
      margin: 0 auto;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: transparent;
        border-color: $main-text-color;
        color: $main-text-color;
      }
    }
    .saveBtn:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
    .error {
      width: 80px;
      text-align: center;
      margin: 0 auto;
    }
  }
}
