@import "@/styles/variables.scss";

.categories {
  :global {
    .list {
      position: relative;
      .swiper {
        position: unset;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
      }

      .swiper-button-next {
        width: 35px;
        height: 35px;
        position: absolute;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 93%;
        top: -100%;
        background: #f8f5f5;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          width: 6px;
          height: 6px;
          border-width: 1px 1px 0 0;
          border-style: solid;
          border-color: #000;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:hover {
          background: $highlight-color;
          transition: 0.5s;

          &::before {
            border-color: #fff;
            transition: 0.5s;
          }
        }

        &::after {
          display: none;
        }

        &.swiper-button-disabled {
          opacity: 0.5;
          cursor: not-allowed;
          background: #f8f5f5;

          &::before {
            border-color: #000;
          }
        }
      }
      .item {
        .img-wrapper {
          overflow: hidden;
          border-radius: 50%;
          width: 100px;
          height: 100px;

          img {
            width: 100%;
            height: 100%;
          }
        }
        p {
          text-align: center;
          margin-top: 10px;
          color: $main-text-color;
          font-weight: bold;
        }
      }
      .swiper-button-prev {
        width: 35px;
        height: 35px;
        position: absolute;
        border-radius: 100%;
        display: flex;
        align-items: center;
        top: -100%;
        background: #f8f5f5;
        cursor: pointer;
        transition: 0.5s;
        left: 89%;
        transform: scaleX(-1);

        &:hover {
          background: $highlight-color;
          transition: 0.5s;

          &::before {
            border-color: #fff;
            transition: 0.5s;
          }
        }

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          width: 6px;
          height: 6px;
          border-width: 1px 1px 0 0;
          border-style: solid;
          border-color: #000;
          transform: translate(-50%, -50%) rotate(45deg);
          transition: 0.5s;
        }

        &::after {
          display: none;
        }

        &.swiper-button-disabled {
          opacity: 0.5;
          cursor: not-allowed;
          background: #f8f5f5;

          &::before {
            border-color: #000;
          }
        }
      }
      @media (max-width: 992px) {
        .swiper-button-prev {
          left: 80% !important;
          top: -150%;
        }

        .swiper-button-next {
          right: 70% !important;
          top: -150%;
        }

        &[dir="rtl"] .swiper-button-prev {
          right: 85%;
          top: -120%;
        }

        &[dir="rtl"] .swiper-button-next {
          right: 70% !important;
          top: -120%;
        }
      }

      &[dir="rtl"] .swiper-button-next {
        left: 4%;
      }

      &[dir="rtl"] .swiper-button-prev {
        right: 97%;
      }
    }
  }
}
