@import "@/styles/variables.scss";

.forget-password {
  :global {
    padding: 50px;
    .title,
    .description {
      text-align: center;
      margin-bottom: 20px;
    }
    .title {
      font-family: "font-bold";
      font-size: 32px;
    }
    .description {
      font-family: "font-medium";
      font-size: 20px;
    }

    .forget-password-form {
      margin-top: 50px;
      .row {
        row-gap: 20px;
        justify-content: center;
        .inner {
          display: flex;
          flex-direction: column;

          label {
            font-family: "font-bold";
            font-size: 16px;
            margin-bottom: 20px;
          }
          input {
            padding: 0 15px;
            height: 50px;
            border: 1px solid #ebebeb;
            border-radius: 10px;
            font-family: "font-medium";
            font-size: 16px;
            border-radius: 56px;
            &:focus {
              border: 1px solid $main-text-color;
              outline: none;
            }
          }
        }
      }
      .submit {
        display: flex;
        justify-content: center;

        .submit-btn {
          width: 380px;
          height: 50px;
          border-radius: 56px;
          background-color: $main-text-color;
          color: $main-bg-color;
          font-family: "font-bold";
          font-size: 16px;
          border: none;
          margin-top: 30px;
          border: 1px solid $main-text-color;
          &:hover {
            background-color: transparent;
            border-color: $main-text-color;
            color: $main-text-color;
          }
        }
      }
    }
  }
}
