@import "@/styles/variables.scss";

.customHeading {
  :global {
    padding: 30px 0;
    .title {
      font-size: 32px;
      font-family: "font-bold";
      color: $main-text-color;
      width: fit-content;
      padding: 10px 0;
      position: relative;
      text-transform: capitalize;
      &::before {
        position: absolute;
        content: "";
        width: 50px;
        height: 4px;
        background-color: $main-text-color;
        border-radius: 2px;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .subtitle {
      font-size: 25px;
      font-family: "font-bold";
      margin-top: 25px;
      line-height: 1.6;
      [data-theme="dark"] & {
        color: #fff;
      }
    }
  }
}
