@import "@/styles/variables.scss";

html {
  font-family: "font-regular";
  transition: $transition;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  height: 100%;
  scroll-behavior: smooth;
  text-transform: capitalize;
  font-size: 14px;
  body {
    @extend html;
    overflow-x: hidden;

    ul {
      list-style: none;
    }
    a,
    a:hover,
    a:visited,
    a:link {
      text-decoration: none;
      outline: none;
      cursor: pointer;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
      display: block;
    }

    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    abbr,
    address,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    samp,
    small,
    strong,
    sub,
    sup,
    var,
    b,
    i,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    figcaption,
    figure,
    footer,
    hgroup,
    menu,
    nav,
    section,
    summary,
    time,
    mark,
    audio,
    video {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      vertical-align: middle;
      background: transparent;
    }
    header {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      vertical-align: middle;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: inherit;
      font-weight: normal;
      line-height: 1.3;
    }

    textarea {
      resize: none;
    }
  }
}


.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.error {
  margin: 10px auto;
  text-align: center;
}

.footer {
  background: $main-bg-color;
  padding: 17px;
  .top {
    padding: 10px 0;
    border-bottom: 1px solid $main-text-color;
    p {
      margin: 10px 0;
      font-size: 20px;
    }
    .input {
      width: 80%;
      margin-bottom: 10px;
      padding: 10px 15px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      outline: none;
      border: 1px solid $main-text-color;
    }
    button {
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      font-size: 17px;
      font-weight: bold;
      &:hover {
        background-color: $main-text-color;
        color: $light-color;
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    .icons {
      display: flex;

      i {
        margin: 0 10px;
        font-size: 17px;
      }
    }
    @media (max-width: 768px) {
      .icons {
        margin-top: 10px;
      }
    }
    @media (min-width: 768px) {
      .bottom {
        justify-content: space-between;
      }
    }
    .imgs {
      display: flex;
      align-items: center;

      .store {
        width: 70px;
        height: 70px;
        object-fit: contain;
        margin: 0 10px;
      }
    }
  }
}

.submit-page {
  position: relative;
  padding: 50px 0;
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $main-text-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.363);
    z-index: 2;
  }
  .squares {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 3;

    .square {
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      opacity: 0.8;
      z-index: -1;
      position: absolute;
      animation: move 10s linear infinite;
      -webkit-animation: move 10s linear infinite;
      &.size-small {
        width: $square-size-small;
        height: $square-size-small;
      }
      &.size-medium {
        width: $square-size-medium;
        height: $square-size-medium;
      }
      &.size-large {
        width: $square-size-large;
        height: $square-size-large;
      }

      &:nth-child(1) {
        animation-delay: 0s; // Different start times
      }
      &:nth-child(2) {
        animation-delay: -1s;
      }
      &:nth-child(3) {
        animation-delay: -2s;
      }
      &:nth-child(4) {
        animation-delay: -3s;
      }

      // Hover effects
      &:hover {
        background-color: hsl(120, 70%, 30%);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
        transform: scale(1.1);
      }
    }
  }
}

// Keyframes for the movement animation
@keyframes move {
  0% {
    transform: translateY(-200px) translateX(-200px) rotate(0deg) scale(0.8);
    opacity: 0;
    filter: brightness(0.8);
  }
  25% {
    opacity: 0.6;
    transform: translateY(calc(50vh - 100px)) translateX(calc(50vw - 100px))
      rotate(45deg) scale(1.2);
    filter: brightness(1.2) contrast(1.2);
    -webkit-transform: translateY(calc(50vh - 100px))
      translateX(calc(50vw - 100px));
    -moz-transform: translateY(calc(50vh - 100px))
      translateX(calc(50vw - 100px));
    -ms-transform: translateY(calc(50vh - 100px)) translateX(calc(50vw - 100px));
    -o-transform: translateY(calc(50vh - 100px)) translateX(calc(50vw - 100px));
  }
  50% {
    transform: translateY(calc(100vh - 100px)) translateX(calc(100vw - 200px))
      rotate(180deg) scale(1);
    opacity: 1;
    filter: brightness(1) contrast(1);
    -webkit-transform: translateY(calc(100vh - 100px))
      translateX(calc(100vw - 200px)) rotate(180deg) scale(1);
    -moz-transform: translateY(calc(100vh - 100px))
      translateX(calc(100vw - 200px)) rotate(180deg) scale(1);
    -ms-transform: translateY(calc(100vh - 100px))
      translateX(calc(100vw - 200px)) rotate(180deg) scale(1);
    -o-transform: translateY(calc(100vh - 100px))
      translateX(calc(100vw - 200px)) rotate(180deg) scale(1);
  }
  75% {
    opacity: 0.8;
    transform: translateY(calc(120px - 100px)) translateX(calc(50vw - 100px))
      rotate(270deg) scale(1.1);
    filter: brightness(1.1) contrast(1.1);
    -webkit-transform: translateY(calc(120px - 100px))
      translateX(calc(50vw - 100px));
    -moz-transform: translateY(calc(120px - 100px))
      translateX(calc(50vw - 100px));
    -ms-transform: translateY(calc(120px - 100px))
      translateX(calc(50vw - 100px));
    -o-transform: translateY(calc(120px - 100px)) translateX(calc(50vw - 100px));
  }
  100% {
    transform: translateY(0px) translateX(110px) rotate(360deg) scale(1);
    opacity: 0;
    filter: brightness(0.8);
    -webkit-transform: translateY(0px) translateX(110px) rotate(360deg) scale(1);
    -moz-transform: translateY(0px) translateX(110px) rotate(360deg) scale(1);
    -ms-transform: translateY(0px) translateX(110px) rotate(360deg) scale(1);
    -o-transform: translateY(0px) translateX(110px) rotate(360deg) scale(1);
  }
}
