$main-bg-color: #f0f3f2;
$main-bg-overlay: #000000a2;
$transition: all ease-in 1s;
$link-hover-color: #a58888ee;
$link-color: #574a4add;
$main-text-color: #78b012;
$highlight-color: #20c997;
$light-color: #fff;
