$main-bg-color: #f0f3f2;
$main-bg-overlay: #000000a2;
$transition: all ease-out 1s;
$link-hover-color: #a58888ee;
$link-color: #574a4add;
$highlight-color: #20c997; // A lively and refreshing teal

$light-color: #fff;
